@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    z-index: 10;
  }
  h1 {
    @apply text-primary-300 font-bold text-3xl font-serif;
  }

  h2 {
    @apply text-primary-300 text-2xl font-serif;
  }

  h3 {
    @apply text-clay-200 text-xl;
  }

  h4 {
    @apply text-clay-200 text-lg font-light;
  }

  p {
    @apply text-clay py-1 prose;
  }
}

/* tailwind puts backticks around inline <code> tags. This removes them */
code:before {
  display: none;
}
code:after {
  display: none;
}

.tooltip {
  @apply relative;
}

.tooltip:focus:after,
.tooltip:hover:after {
  @apply bg-primary-100 text-mineral absolute p-2 rounded-md;
  content: attr(data-tooltip);
  top: -45px;
  left: 20%;
}

.tooltip:focus:before,
.tooltip:hover:before {
  content: "";
  position: absolute;
  display: block;
  top: -5px;
  left: 30%;
  width: 10px;
  margin: auto;
  border-left: 5px solid transparent;
  border-top: 5px solid #ffe4b5;
  border-right: 5px solid transparent;
}

.tooltip-left-0:focus:after,
.tooltip-left-0:hover:after {
  left: 0;
}

.tooltip-wide:focus:after,
.tooltip-wide:hover:after {
  left: 20%;
}

.tooltip-drf:focus:after,
.tooltip-drf:hover:after {
  width: 200%;
}

.link {
  @apply text-blue-600 underline cursor-pointer;
}

.link:visited {
  @apply text-purple-600;
}

.text-container > p {
  @apply px-3;
}

/**
 * the character icon section is quite repetitive, so they're just styled
 * here
 */

.character-icons {
  @apply grid grid-cols-3 gap-2;
}

.character-icons > div {
  @apply bg-clay-100 rounded-md p-1 flex flex-col items-center justify-center shadow;
}

.character-icons > div > svg {
  @apply inline w-6 h-6;
}

.character-icons > div > p {
  @apply text-sm text-black;
}

/**
 * htmx/django injects the contact forms without styles. We style them with
 * child selectors here
 */

.contact-form-container > form {
  @apply border border-coffee bg-secondary-100 p-2 m-3 rounded flex flex-col items-start;
}

.contact-form-container * > label {
  @apply text-coffee block text-left pt-2 pb-1;
}

.contact-form-container * > h1 {
  @apply w-full text-center text-coffee;
}

.contact-form-container * > p {
  @apply text-coffee;
}

.contact-form-container * > input,
.contact-form-container * > textarea {
  @apply text-coffee bg-clay-200 rounded shadow p-1 rounded w-full;
}

.contact-form-container * > input:focus,
.contact-form-container * > textarea:focus {
  @apply bg-white rounded shadow;
}

.contact-form-container * > textarea {
  @apply w-full h-24;
}

/* field errors */
.contact-form-container * > li {
  @apply my-1 p-1 text-sm text-clay-200 inline-block rounded bg-red-600;
}
