@font-face {
  font-family: TenorSans;
  src: url("/static/font/tenor_sans.ttf");
}

@font-face {
  font-family: CantanaOne;
  src: url("/static/font/cantana_one.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    z-index: 10;
  }
  h1 {
    @apply font-bold text-3xl font-serif;
  }

  h2 {
    @apply text-2xl font-serif;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }
}

.prose p code {
  @apply font-bold;
}

.prose a {
  @apply rounded focus:ring-2 focus:ring-accent-300 outline-none;
}


.animate-pulse{
animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .85;
  }
}
