@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    z-index: 10;
  }
  h1 {
    @apply font-bold text-3xl font-serif;
  }

  h2 {
    @apply text-2xl font-serif;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }
}

/* tailwind puts backticks around inline <code> tags. This removes them */
code:before {
  display: none;
}

code:after {
  display: none;
}

/* TODO: move tooltip styling into component */

/**
 * Styling for the tooltips on the "toolbox" section.
 */

.tooltip {
  @apply relative;
}

.tooltip:focus:after,
.tooltip:hover:after {
  @apply bg-primary-100 text-mineral absolute p-2 rounded-md;
  content: attr(data-tooltip);
  top: -45px;
  left: 20%;
}

.tooltip:focus:before,
.tooltip:hover:before {
  content: "";
  position: absolute;
  display: block;
  top: -5px;
  left: 30%;
  width: 10px;
  margin: auto;
  border-left: 5px solid transparent;
  border-top: 5px solid #ffe4b5;
  border-right: 5px solid transparent;
}

.tooltip-left-0:focus:after,
.tooltip-left-0:hover:after {
  left: 0;
}

.tooltip-wide:focus:after,
.tooltip-wide:hover:after {
  left: 20%;
}

.tooltip-drf:focus:after,
.tooltip-drf:hover:after {
  width: 200%;
}

/* TODO: move character icon CSS into components */

/**
 * character-icons are the grid of icons above the contact form
 */
.character-icons {
  @apply grid grid-cols-3 gap-2;
}

.character-icons > div {
  @apply bg-clay-100 rounded-md p-1 flex flex-col items-center justify-center shadow;
}

.character-icons > div > svg {
  @apply inline w-6 h-6;
}

.character-icons > div > p {
  @apply text-sm text-black;
}
